<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>All Chores</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <th>Job</th>
                            <th>Location</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for chore in all_chores%}
                            <td>{{chore.title}}</td>
                            <td>{{chore.location}}</td>
                            <td>
                                <a
                                    class="btn btn-primary"
                                    href="#"
                                    >view</a
                                >
                                <a
                                    class="btn btn-primary"
                                    href="#"
                                    >claim</a
                                >
                                {% if chore.user_id == one_user.id %}
                                <a
                                    class="btn btn-success"
                                    href="#"
                                    >edit</a
                                >
                                <a
                                    class="btn btn-danger"
                                    href="#"
                                    >delete</a
                                >
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
