<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>Add a Job!</title>
    </head>
    <body>
        <h1>Add a Chore!</h1>

        <form action="/chores/create/process" method = 'post'>
            <input
                type="hidden"
                name="user_id"
                value="{{session['user_id']}}"
            />
            <label for=""
                >Title
                <input
                    type="text"
                    name="title"
            /></label>
            <label for=""
                >Description
                <input
                    type="textarea"
                    name="description"
            /></label>
            <label for=""
                >Day
                <input
                    type="date"
                    name="day"
            /></label>
            <label for=""
                >Completed
                <input
                    type="radio"
                    name="completed"
            /></label>
            <label for=""
                >Location
                <input
                    type="text"
                    name="location"
            /></label>
            <label for=""
                >Select a child
                <select name="child">
                    {% for child in children %}
                    <option value="{{child_id}}">{{child.first_name}}</option>
                    {% endfor %}
                </select>
            </label>
            
            
            <button class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
