<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>Dashboard</title>
    </head>
    <body>
        <nav>
            <h1>Welcome, {{one_user.first_name}}!</h1>
            <a href="">Logout</a>
            {% if one_user.isParent == True %}
            <a href="">Add a Job</a>
            {% endif %}
        </nav>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <th>Job</th>
                                <th>Location</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for chore in all_chores%}
                                <td>{{chore.title}}</td>
                                <td>{{chore.location}}</td>
                                <td>
                                    <a href="#">view</a>
                                    <a href="#">claim</a>
                                    {% if chore.user_id == one_user.id %}
                                    <a href="#">edit</a>
                                    <a href="#">delete</a>
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table">
                            <thead>
                                <th>My Jobs</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                {% for chore in one_user.chores%}
                                <td>{{chore.title}}</td>
                                <td>
                                    <a href="">view</a> |
                                    <a href="">complete</a>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
