<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Rodeo</h1>
            </div>
            <div class="row">
                <p>Welcome back, {{one_user.first_name}}.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for chore in all_chores %} {% if chore.is_claimed == False %}
                <div class="card col-4">
                    <div class="card-body">
                        <h5>{{chore.title}}</h5>
                        <p class="card-text">{{chore.description}}</p>
                        <p class="card-text">{{chore.location}}</p>
                        <button class="btn btn-secondary">Claim!</button>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <div class="col col-6"></div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <th>Job</th>
                        <th>Location</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for chore in all_chores%}
                        <td>{{chore.title}}</td>
                        <td>{{chore.location}}</td>
                        <td>
                            <a href="#">view</a>
                            <a href="#">claim</a>
                            {% if chore.user_id == one_user.id %}
                            <a href="#">edit</a>
                            <a href="#">delete</a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
