<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>Dashboard</title>
    </head>
    <body class="container text-bg-danger">
        <!-- Header -->
        <div class="container text-bg-danger">
            <div class="row">
                <h1>Rodeo</h1>
            </div>
            <div class="row">
                <p>Welcome back, {{one_user.first_name}}.</p>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        href="/dashboard"
                        >Dashboard</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link link-light"
                        href="/chores"
                        >Chores</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link link-light"
                        href="/children"
                        >Children</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link link-light"
                        href="/logout"
                        >Logout</a
                    >
                </li>
            </ul>
            <!-- End Header -->
            <div class="container">
                <div class="row mt-2">
                    {% for chore in all_chores %}
                    <div class="card col-md-4 col-lg-3 my-1 mx-1 text-bg-light">
                        <div class="card-body">
                            <h5>{{chore.title}}</h5>
                            <p class="card-text">{{chore.description}}</p>
                            <p class="card-text">{{chore.location}}</p>
                            <p class="card-text">
                                Assigned to: {{chore.child.first_name}}
                            </p>
                            {% if session['is_parent'] == True %}
                            <p>
                                <a
                                    href="/chores/view/{{chore.id}}"
                                    class="btn btn-warning"
                                    >View</a
                                >
                                <a
                                    href="/chores/delete/{{chore.id}}"
                                    class="btn btn-danger"
                                    >Delete</a
                                >
                            </p>
                            <p></p>
                            {% else %}
                            <p><a class="btn btn-primary">View</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
