<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <title>Rodeo</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Welcome to Rodeo</h1>
                    <h2>Is this your first rodeo?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary">Yes</button>
                    <button class="btn btn-primary">No</button>
                </div>
            </div>
        </div>
    </body>
</html>
