<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="../static/css/bootstrap.css"
        />
        <script
            src="../static/js/bootstrap.min.js"
            defer
        ></script>
        <title>View Children!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Rodeo</h1>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/dashboard"
                            >Dashboard</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/chores"
                            >Chores</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="/children"
                            >Children</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/logout"
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <th>Name</th>
                            <th>Stars</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for child in all_my_children %}
                            <td>{{child.first_name}}{{ child.last_name }}</td>
                            <td>{{child.stars}}</td>
                            <td>View Child | Remove Child</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="text-center">
                    <button
                        class="btn btn-primary col-md-6"
                        data-bs-toggle="collapse"
                        data-bs-target="#new_kid_form"
                    >
                        Let's have another kid!
                    </button>
                </p>
                <div
                    class="collapse"
                    id="new_kid_form"
                >
                    <form
                        class="form mb-2"
                        action="/children/add/process" method="post"
                    >
                        <!-- Hidden Inputs -->
                        <input
                            type="hidden"
                            name="parent_id"
                            value="{{session['user_id']}}"
                        />
                        <input
                            type="hidden"
                            name="is_parent"
                            value="False"
                        />
                        <!-- Name -->
                        <label
                            class="form-label"
                            for="first_name"
                            >First Name</label
                        >
                        <input
                            class="form-control"
                            type="text"
                            name="first_name"
                            id="name"
                        />
                        <label
                            class="form-label"
                            for="last_name"
                            >Last Name</label
                        >
                        <input
                            class="form-control"
                            type="text"
                            name="last_name"
                            id="name"
                        />
                        <!-- Email -->
                        <label
                            class="form-label"
                            for="email"
                            >Email</label
                        >
                        <input
                            class="form-control"
                            type="email"
                            name="email"
                            id="email"
                        />
                        <!-- Password -->
                        <label
                            class="form-label"
                            for="password"
                            >Password</label
                        >
                        <input
                            class="form-control"
                            type="password"
                            name="password"
                            id="password"
                        />
                        <!-- Confirm Password -->
                        <label
                            class="form-label"
                            for="confirm_password"
                            >Confirm Password</label
                        >
                        <input
                            class="form-control"
                            type="password"
                            name="confirm_password"
                            id="confirm_password"
                        />
                        <p class="text-center">
                            <button class="btn btn-warning col-6 mt-2">
                                Create Child!
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
